* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

body{
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 600;
    background-color: #FFFFFF;    
    
}

.container{
    max-width: 1231px;
    margin: 0px auto;
    padding: 0px 15px;
}

ul, li {
    list-style: none;
    text-decoration: none;
}

/* -------------------------HEADER TOP START-------------- */
.site-header__top{
    width: 100%;
    background-color: #F5F5F5;
}

.site-header__top-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 0;
}

.header__top-end{
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.header__top-title{
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0%;
    color: #666666;
}

.header__top-info{
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0%;
    color: #666666;
    display: flex;
    align-items: center;
    padding-right: 16px;
    border-right: 1px solid #666666;
    
  
}

.header__top-info span{
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0%;
    color: #000;

}

.header__top-info:first-child::before{
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url(../images/header-top1.svg);
    background-size: cover;
    margin-right: 10px;
}
.header__top-info:nth-child(2)::before{
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url(../images/header-top2.svg);
    background-size: cover;
    margin-right: 10px;
}
.header__top-info:nth-child(3)::before{
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url(../images/header-top3.svg);
    background-size: cover;
    margin-right: 10px;
}
/* -------------------------HEADER TOP END---------------- */

/* -------------------------HEADER MID START---------------- */
.site-header__mid{
    padding: 21px 0;
}

.site-header__mid-wrapper{
    display: flex;
    align-items: space-between;
    align-items: center;
    gap: 220px;
}

.site-header__mid-logo-wrapper{
    display: flex;
    align-items: space-between;
    align-items: center;
    gap: 16px;
}

.site-header__mid-menu{
    width: 48px;
    height: 48px;
}

.site-header__mid-logo{
    width: 138px;
    height: 28px;
}

.site-header__mid-end-wrapper{
    display: flex;
    align-items: space-between;
    align-items: center;
    gap: 30px;
}

.site-header__mid-search{
    width: 507px;
    border-radius: 10px;
    background-color: #F3F9FB;
    padding: 12px 16px;
    display: flex;
    align-items: center;
}

.site-header__mid-search-input{
    border: none;
    background-color: #F3F9FB;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0%;
    color: #666;
}

.site-header__mid-sign{
    display: flex;
    align-items: center;
    gap: 20px;
}

.sign-up{
    display: flex;
    align-items: center;
    padding: 3px 0;
    border-right: 1px solid #c4c2c2;
    padding-right: 20px;

    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0%;
    color: #666666;
}

.sign-up::before{
    content: '';
    display: inline-block;
    align-items: center;
    width: 24px;
    height: 24px;
    background-image: url(../images/header-min5.svg);
    background-size: cover;
    margin-right: 3px;
    
}

.card{
    display: flex;
    align-items: center;
    padding: 3px 0;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0%;
    color: #666666;
}
.card::before{
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url(../images/header-min6.svg);
    background-size: cover;
    margin-right: 3px;
}
/* -------------------------HEADER MID END---------------- */

/* -------------------------HEADER BOT START---------------- */
.site-header__bot{
    border-top: 1px solid #c4c2c2;
    border-bottom: 1px solid #c4c2c2;
    padding: 16px 0;
    margin-bottom: 20px;
}

.site-header__bot-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-header__bot-item{
    padding: 9px 14px;
    background-color: #F3F9FB;
    border-radius: 18px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0%;
    color: #222222;

    display: flex;
    align-items: center;
}

.site-header__bot-item::after{
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url(../images/header-bot2.svg);
    background-size: cover;
    margin-left: 6px;
}

.site-header__bot-item:hover{
    background-color: #008ECC;
    color: white;
}
/* -------------------------HEADER BOT END---------------- */

/* -------------------------HERO START---------------- */
.site-hero{
    margin-bottom: 120px;
}

.site-hero__card{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 38px 0;

    background-color: #212844;
    border-radius: 16px;
}



.site-hero__card-subtitle{
    font-size: 30px;
    color: #fff;
    margin-bottom: 20px;
}

.site-hero__card-title{
    font-weight: 700;
    font-size: 63px;
    line-height: 63px;
    letter-spacing: 0%;
    color: #fff;
}


.site-hero__dot-img{
    margin-top: 55px;
    width: 114px;
}
/* -------------------------HERO END---------------- */

/* -------------------------MAIN START---------------- */

/* -------------------------SMARTPHONES SECTION START------------- */

.main__smart-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid #c4c2c2;
}

.main__smart-title{
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0%;

    color: #666666;
    /* padding-bottom: 20px;
    border-bottom: 3px solid #008ECC; */

}

.main__smart-title span{
    color: #008ECC;
}

.main__smart-view{
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0%;
    color: #222222;

    display: flex;
    align-items: center;
}

.main__smart-view::after{
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url(../images/view1.svg);
    background-size: cover;
    margin-left: 6px;;
}

.main__smart-list{
    display: flex;
    justify-content: space-between;
    gap: 16px;

}

.main__smart-item{
    border-radius: 16px;
    border: 1px solid #EDEDED;
}

.main__smart-item-img{
    padding: 15px 72px;
    background-color: #EDEDED;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.smart-item__info{
    padding: 12px 0;
    padding-left: 12px;
    
}

.actual-price{
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #EDEDED;

}

.smart-item__title{
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0%;
    color: #222222;
    margin-bottom: 10px;
}

.smart-item__price{
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0%;
    color: #222;
}

.smart-item__dis-price{
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0%;
    line-height: 18px;

    text-decoration: line-through;
    margin-left: 10px;
}

.dicount-price{
    color: #249B3E;
    font-size: 18px;
}


.main__smart-item-img{
    width: 227px;
    height: 188px;
}
/* -------------------------SMARTPHONES SECTION END------------- */

/* -------------------------MAIN END---------------- */
